body {
    font-family: Arial, sans-serif;
    background-color: #f6d4df;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: white;
    padding: 100px;
    border-radius: 100px;
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
    width: 800px;
    text-align: center;
}
.container h1 {
    margin: 0 0 20px 0;
    font-size: 50px;
    color: #191970; 
}
.task-input {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.task-input input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}
.task-input button {
    padding: 10px;
    border: none;
    background-color: #052f22;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.task-list li.completed {
    text-decoration: line-through;
    color: grey;
}

.task-list button {
    background: none;
    border: none;
    cursor: pointer;
}
.task-list button.complete {
    color: green;
}
.task-list button.delete {
    color: red;
}
